[submodule "deepseek-statusline"]
	path = deepseek-statusline
	url = https://github.com/MuseLinn/deepseek-statusline.git
[submodule "patent-disclosure"]
	path = patent-disclosure
	url = https://github.com/MuseLinn/MuseLinn-patent-disclosure-skill.git
[submodule "nature-skills"]
	path = nature-skills
	url = https://github.com/Yuan1z0825/nature-skills.git
